@page
@model eCommerceSite.Pages.addItemsModel
@{
}
<link rel="stylesheet" href="~/css/category.css" type="text/css" />

<section id="addItems">
    <h2>Add Products</h2>
    <form method="post">
        <!--label asp-for="Model.itemPro.Id">ID</!--label>
    <input type="text" asp-for="Model.itemPro.Id" /-->

        <span class=" inpField">
            <label asp-for="@Model.itemPro.Name">Name</label>
            <input type="text" asp-for="@Model.itemPro.Name" />
        </span>
        </br>
        <span class="inpField">
            <label asp-for="@Model.itemPro.Description">Desciption</label>
            <input type="text" asp-for="@Model.itemPro.Description" />
        </span>
        <br />
        <span class="inpField">
            <label asp-for="@Model.itemPro.Price">Price </label>
            <input type="text" asp-for="@Model.itemPro.Price" />
        </span>
        <br />
        <span class=" inpField">
            <label asp-for="@Model.itemPro.vat">Vat</label>
            <input type="text" asp-for="@Model.itemPro.vat" />
        </span>
        <br />
        <span class="inpField">
            <label asp-for="@Model.itemPro.category">Category</label>
            <input type="text" asp-for="@Model.itemPro.category" />
        </span>
        <br />
        <span class="inpField">
            <label asp-for="@Model.itemPro.subCategory">Sub Category</label>
            <input type="text" asp-for="@Model.itemPro.subCategory" />

        </span>
        <br />
        <span class=" inpField">
            <label asp-for="@Model.itemPro.ProductImage">Image</label>
            <input type="text" asp-for="@Model.itemPro.ProductImage" />
        </span>
        <br />
        <button type="submit" value="submit" id="logButton">Save</button>
    </form>
    <p id="msg" class="msg-accepted">@ViewData["msg1"]</p>
</section>




   